@import "config";

.quiz-ct {
  padding: 10px;
  display: $display;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;

  p {
    color: $color;
    font-family: $fontFamilyKarla;
    font-size: 1.125rem;
    font-weight: 700;
    max-width: 500px;
    padding-block: 1.111em;
  }

  .quiz-borders {
    height: 0.794px;
    background: #dbdef0;
    margin: 1.111em auto;
  }

  .quiz-answers-ct {
    display: $displayInBlock;

    input[type="radio"] {
      display: none;
    }

    label {
      width: 66px;
      height: 21px;
      border-radius: 8px;
      padding: 7px 9px;
      border: 1px solid #000;
      cursor: pointer;
      color: #293264;
      font-family: $fontFamilyInter;
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.quiz-answers-scores {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: 10px;
  font-family: $fontFamilyInter;

  p {
    color: #293264;
    font-size: 1rem;
    font-weight: 700;
  }
  button {
    width: 120px;
    height: 40px;
    background-color: #4d5b9e;
    color: #f5f7fb;
    text-align: center;
    font-size: 0.625rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.loader {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
  margin-top: 200px;
  font-size: 30px;
  .icon {
    font-size: 130px;
    padding: 130px 30px;
  }
}

@media (min-width: 164px) {
  .quiz-ct {
    flex-wrap: wrap;

    p {
      text-align: flex-end;
    }

    .quiz-answers-ct {
      margin: 15px;
      padding: 0em;
    }
  }

  .quiz-borders {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .quiz-borders {
    width: 540px;
  }
}
